.row--menu-row {
  padding-right: 24px;
}
.footerLayout{
  border-top: 2px solid #ccc;
  margin-top: 10px;
}
.footerLayout :global(.vtex-rich-text-0-x-heading-level-4){
  color:#fff;
}
.row--menu-row .rowContainer {
  align-items: flex-start;
}
.row--payment-methods {
  padding-top: 16px;
}
.socialNetworkLink{
  margin: 0 .5rem;
}
.paymentMethodIconImage,
.socialNetworkImage{
  filter:brightness(2)
}