.notificationBarContainer {
  background-color: #E6F1E6;
  color: #03034E;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}
.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #E6F1E6;
  padding: 0px;
}
.searchBarContainer{
  max-width:40rem;
}
.newsletter {
  max-width: 1528px;
  margin: 0 auto;
}
.newsletter .container {
  padding: 10px;
}
.sellingPrice{
  color:#89309e;
}
.label {
  color: #fff;
  font-size: 26px;
}
.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}
.productNameContainer{
  margin-bottom:.5rem;
}
.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.logoImage{
  margin:10px 0;
  max-width:100px;
}

.buyButtonText--produto{
  padding: 10px;
}

.price_sellingPriceContainer--productPrice{
  color: #4ab12b;
}

.productDescriptionTitle{
    padding: 10px;
    background: #f39200;
    color: #fff;
    border-radius: 7px;
    margin: 1rem 0;
    width:50%;
}

.imageElement{max-width: 100% !important;}

@media only screen and (max-width: 640px) {
  .imageElement{
    width:100%;
  }
}
@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 10px;
  }
  .label {
    font-size: 18px;
  }
  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }
  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }
  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}
