.menuItem .styledLinkContainer .styledLink{
    padding:4px;
    text-align:center;
    color:#fff;
    display: inline-block;
}
.menuContainer--category-menu .styledLinkContainer .styledLink{
    color:#000;
}
.menuItem .submenu .styledLink:hover{
    background:#f39200;
}
.menuItem .submenu .styledLink{
    color:#000;
    display:block;
    padding:8px 40px 8px 20px;
    font-size:15px;
}
.menuItem .submenu .menuItem:last-child .styledLink{
    background:#4ab12b;
}
.menuItem .submenu .styledLink:hover,
.menuItem .submenu .menuItem:last-child .styledLink{
    color:#fff;
}
.styledLinkContainer{
    margin:0;
    padding:0;
}
.submenu{
    border:2px solid #f39200;
}
.menuContainer{
    line-height:1;
}