.title{
    font-family: quicksand;
    font-weight: 600;
    font-size:1.5em;
    text-align: center;
}

.slide{
    padding-left: .5rem;
    padding-right: .5rem;
}
@media only screen and (min-width: 40em) {
    .arrowLeft{margin-left: 5em;}
    .arrowRight{margin-right: 5em;}
    .sliderContainer{
        padding:0 8rem;
    }    
}