.box{
    right:auto !important;
}
.arrowUp{
    left:62px;
}
.contentForm{
    width:23rem;
}
.button:hover{
    background:#f39200;
}
@media only screen and (max-width: 1025px) {
    .profile{
        display:inline-block;
        color:#fff;
    }
}