.row--menu-row {
  padding-right: 24px;
}
.footerLayout{
  border-top: 2px solid #ccc;
  padding-top: 10px;
  margin-top: 10px;
}
.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}
