.container{
    background-image: url(https://festaexpress.vteximg.com.br/arquivos/cart-header1.jpg);
    width: 217px;
    background-repeat: no-repeat;
    margin-left:1rem;
    margin-right:1rem;
 }
 .badge{
    font-size: 15px;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    left: 71px;
    top: -12px;
 }
 .badge::Before{
    content: "("
 }
 .badge::after{
    content: ")"
 }
 .container svg{
    display: none;
 }
 .container button{
     width:217px;
 }

 @media only screen and (max-width: 640px) {
    .badge::after,
    .badge::before{
        display: none;
    }
    .badge{
        font-size: 14px;
        background-color: #000;
        color: #fff;
        left: 16px;
        top: -10px;
    }
    .container{
        background-image: none;
        width: auto;
    }
    .container svg{
        display: flex;
        color: #000;
    }
    .container button{
        width:auto;
    }
 }