/* FILTRO C */
.filter__container--c .filterTitle{
    background: #f39200;
    padding: 17px;
    color: #fff;
    font-size: 15px;
    font-family: quicksand;
    font-weight: 600;
}
.filter__container--c:hover .categoryGroup{
    max-height: 1000px;
    overflow-y: scroll;
}

/* FILTRO B */
.filter__container--b .filterTitle{
    background: #f39200;
    padding: 17px;
    color: #fff;
    font-size: 15px;
    font-family: quicksand;
    font-weight: 600;
}

.filter__container--b:hover .filterContent{
    max-height: 1000px;
    overflow-y: scroll;
}
.filter__container{
    border: none;
}
.galleryTitle--layout{
    font-family: quicksand;
}
.galleryTitle--layout{
    background: #89309e;
    padding: 10px;
    margin-left: 4%;
    color: #fff;
    font-size: 25px;
    text-align: center;
}
.filter__container--title{
    display: none
}
.categoryItemChildren{
    color:#8e8e8e;
}
.categoryItemName{
    font-weight:700;
}