.menuItem :global(.vtex-menu-2-x-styledLink.c-emphasis){
    display:block;
    padding:11px;
    color:#fff;
}
.menuItem:nth-child(odd) :global(.vtex-menu-2-x-styledLink.c-emphasis),
.menuItem:nth-child(odd) .submenu .styledLink:hover{
    background:#89309e;
}
.menuItem:nth-child(even) :global(.vtex-menu-2-x-styledLink.c-emphasis),
.menuItem:nth-child(even) .submenu .styledLink:hover{
    background:#f39200;
}
.menuItem .submenu .styledLink{
    color:#000;
    display:block;
    padding:8px 40px 8px 20px;
    font-size:16px;
}
.menuItem .submenu .menuItem:last-child .styledLink{
    background:#4ab12b;
}
.menuItem .submenu .styledLink:hover,
.menuItem .submenu .menuItem:last-child .styledLink,
.styledLink{
    color:#fff;
}
.styledLinkContainer{
    margin:0;
}
.submenu{
    border:2px solid #f39200;
}