:global(.vtex-toast){
    background-color: #67ad42!important;
}
.productBrand{
    display: block;
    line-height: 25px;
    font-family: quicksand;
    font-weight: 700;
}
.containerNormal:hover .buyButton{
    display:block;
}
.buyButton :global(.vtex-button){
    border-radius: 50px;
}
.buyButtonContainer{
    min-height:56px;
}
.sellingPrice{
    font-family: quicksand;
    font-weight: 700;
}
.containerNormal{
    border:1px solid #d2d2d2;
    padding:.5rem;
}
.nameContainer,
.priceContainer{
    padding:.5rem 0;
}
.imageNormal{
    max-height: 10rem !important;
}
@media only screen and (min-width: 1025px) {
    .buyButton{
        display:none;
    }
}